@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: ##f5f7fa;
  --foreground: #000000;
}

.dark {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
